body {
  background: url('../img/site_bg.gif');
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
  font-size: 18px;
}
p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.7;
}
h1, h2, h3, h4, p {
  margin: 0;
}
h2 {
  font-size: 41px;
  font-weight: 700;
  line-height: 1.2;
}
h3 {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.6;
}
h4 {
  padding: 44px 13px 0 0;
  font-size: 26px;
  font-weight: 400;
}
input {
  border-radius: 2px;
  border: none;
}
a {
  text-decoration: none;
  color: black;
}


/************************
        Navigation
 ************************/
nav {
  background: white;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
.logo {
  background: url('../img/company-logo.jpg') no-repeat;
  background-size: contain;
  background-position: 0px 30px;
  display: block;
  height: 54px;
  width: 252px;
  text-indent: -9999px;
  padding: 30px 0 18px 0;
}
.left {
  float: left;
  margin: 0 31px 0 56px;
  padding: 0;
}


.center {
  text-align: center;
  margin: 46px 0 0 0;
  padding: 0;
  float: left;
}
.center span:hover, .center span:active {
  color: #ff5800;
}
.center span:active {
  padding: 42px 25px 34px;
  border-top: solid #ff5800 4px;
}
.center span {
  padding: 46px 25px 34px;
  letter-spacing: -0.6px;
}


.right {
  float: right;
  margin: 35px 25px 25px 0;
}
.right li {
  padding: 10px 0 12px;
}
.right span {
  border-radius: 2px;
  color: white;
  font-size: 12px;
}
.signup {
  background: #167dd5;
  padding: 14px 26px;
}
.login {
  background: #a6a6a6;
  padding: 14px 23px;
}



/************************
          Body
 ************************/


/************************
        Top Banner
 ************************/
.top-banner {
  background: #b4c9bc;
}
.image {
  width: 780px;
  float: left;
}
.image img {
  height: 442px;
  padding: 60px 0 57px 64px;
}
.copy {
  float: left;
  padding: 124px 0 0;
}
.copy p, .copy h2 {
  width: 403px;
}
.copy p {
  margin-top: 10px;
}
form {
  margin: 18px 0 0;
  padding: 9px;
}
.email-form {
  background: #a6b9ad;
  height: 63px;
  border-radius: 5px;
  width: 405px;
}
::-webkit-input-placeholder {
 color: black;
 font-size: 15px;
 font-style: italic;
}
input[type="email"] {
  width: 188px;
  padding: 14px 0 12px 14px;
}
input[type="submit"] {
  width: 177px;
  color: white;
  font-size: 15px;
  padding: 15px 0 12px;
  margin-left: 3px;

  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #167CD5),
  color-stop(1, #1369B5)
  );
  background-image: -o-linear-gradient(bottom, #167CD5 0%, #1369B5 100%);
  background-image: -moz-linear-gradient(bottom, #167CD5 0%, #1369B5 100%);
  background-image: -webkit-linear-gradient(bottom, #167CD5 0%, #1369B5 100%);
  background-image: -ms-linear-gradient(bottom, #167CD5 0%, #1369B5 100%);
  background-image: linear-gradient(to bottom, #167CD5 0%, #1369B5 100%);
}
.copy a {
  margin: 0 0 0 246px;
  font-size: 14px;
  color: #136ab5;
  font-weight: 700;
}


/************************
      Center Banner
 ************************/
.center-banner {
  background: white;
  height: 166px;
  text-align: center;
}
.center-banner section img {
  height: 82px;
}
.center-banner section a {
  display: inline-block;
}


/************************
      Bottom Banner
 ************************/
.bottom-banner {
  background: url('../img/bottom-banner-fitted.jpg') no-repeat;
  height: 496px;
}
.bottom-banner section {
  width: 440px;
  padding: 111px 0px 0px 182px;
}
.bottom-banner p {
  margin: 10px 0 22px;
}
.bottom-banner a {
  color: #ec6607;
}



/************************
        Clearfix
 ************************/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}